/* ELEMENTOS GLOBAIS ------*/

* {
    box-sizing: border-box;
}

body {
    color: #444;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 900;
    font-size: 1, 5em;
}

h2 {
    font-weight: 900;
    font-size: 1em;
}

p {
    line-height: 1.5;
}

a,
a:active,
a:visited {
    color: #fff;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #e19444;
    text-decoration: none;
    border-bottom: solid 2px #cccccc;
}

/* CLASSES COMPARTILHADAS */

.container {
    width: 100%;
    padding: 5em 8em;
    text-align: center;
}

/* FLEX GRID */

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 16px;
}

.grid-item {
    box-sizing: border-box;
    padding: 16px;
    margin: 10px;
    text-align: center;
}

/* ELEMENTOS ESPECÍFICOS */

#nav-bar {
    padding: 1em 8em;
    background-color: #555;
    box-shadow: -3px 3px 26px 3px #000;
    position: sticky;
    top: 0;
}

#nav-bar .nav-toggle {
    float: right;
    cursor: pointer;
    font-size: 1.25em;
    color: #fff;
    display: inline-block;
}

#nav-bar #brand {
    display: inline-block;
    font-size: 1.25;
    font-weight: 900;
}

#nav-bar ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav-bar ul li {
    margin-right: 0.5em;
    display: inline-block;
    font-size: 1.25;
    font-weight: 500;
}

/* SECTION PRESENTATION */

#presentation {
    background: linear-gradient(#e19444, #ac7234);
    background-size: cover;
    color: #fff;
}

#presentation h1 {
    font-size: 3em;
}

#presentation img {
    max-width: 200px;
    border-radius: 18px;
    box-shadow: -3px 3px 26px 3px #000;
}

#presentation span {
    display: inline-block;
    width: 100%;
}

/* SECTION ABOUT */

#about {
    background-color: #444;
    color: #fff;
    box-shadow: -3px 3px 26px 3px #000;
}

/* SECTION SKILLS*/

#skills {
    background-color: #ac7234;
    color: #fff;
    box-shadow: -3px 3px 26px 3px #000;
}

/* SECTION PORTFOLIO*/

#portfolio {
    background-color: #444;
    box-shadow: -3px 3px 26px 3px #000;
}

#portfolio .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 5px;
}

#portfolio .grid-item img {
    aspect-ratio: 16/10;
    max-height: 100%;
    max-width: 100%;
    text-align: center;
    object-fit: cover;
    box-shadow: 3px 3px 7px #000;
}

/* SECTION CONTACT FORM */

#contact {
    background-color: #e19444;
    color: #fff;
    box-shadow: -3px 3px 26px 3px #000;
}

#contact-form {
    background-color: #757575;
    border-left: solid 15px #444;
    padding: 2%;
    box-shadow: -3px 3px 26px 3px #000;
}

#contact-form input[type="text"],#contact-form input[type="email"],#contact-form textarea{
    padding: 1.2em;
    margin: 2px;
    display: inline-block;
    height: 50px;
    border: solid 3px #585555;
    border-radius: 8px;
    width: 100%;
}

#contact-form textarea{
    height: 200px;
}

#contact-form input[type="submit"]{
    background-color: #ac7234;
    font-weight: bold;
    font-size: larger;
    color: #fff;
    border-radius: 6px;
    padding: 0.75%;
    width: 100%;
    border: solid 3px #fff;
    box-shadow: 3px 3px 7px #000;
}

#contact-form input[type="submit"]:hover{
    background-color: #e19444;
}

.grid-container.one-column{
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
}

#contact h1{
    padding-bottom: 2px;
    border-bottom: double 6px #444;
}

/* SECTION FOOTER */

#footer {
    background-color: #444;
    font-weight: 500;
    font-size: 1.25;
    text-align: center;
    padding: 18px;
    box-shadow: -3px 3px 26px 3px #000;
}

#footer a{`
    margin-left: 15px;
    margin-right: 15px;
}

#footer a:hover,
#footer a:focus {
    padding: 5px;
    border: solid 2px #cccccc;
    border-radius: 6px;
}

/* RESPONSIVIDADE */

@media(max-width: 500px) {
    .container {
        padding: 10% 3%;
    }
    #nav-bar {
        padding: 10% 3%;
    }
}

@media (max-width: 975px) {
    #nav-bar .nav-toggle {
        display: none;
    }            
}

@media (max-width: 974px) { 
    #nav-bar .nav-toggle {
        display: block;
    }
    #nav-bar ul {
        position: absolute;
        top: 60px;
        left: 0;
        padding: 0;
        width: 100%;
        list-style: none;
    }
    #nav-bar ul li {
        margin-right: 0.5em;
        display: inline-block;
        width: 100%;
        padding: 1em 8em;
        background-color: #444;
        border: solid 1px #000;
    }
}